.section-one {
  color: #fff;
  min-height: 450px;
  text-align: center;
}
.section-one .bg-image{
  position: absolute;
  background:#333 url(img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 450px;
}
.section-one h1{
  padding-top: 100px;
  padding-bottom: 0;
}
.sub-headings{
  margin-bottom: 30px;
  margin-top: 22px;
}
.section-three{
  background-color: #eeeeee;
  height: 15vw;
}
.section-three .section-text{
  text-align: center;
  padding: 50px;
}
.section-4{
  margin-bottom: 42px;
}
.all-categories .badge{
  font-weight: 400;
  background-color: #eeeeee;
  margin-right: 60px;
  margin-top: 24px;
  padding: 12px;
}
footer{
  background-color: #333;
  /* height: 250px; */
  padding: 50px;
  font-size: 80%;
  color: #fff;
}
.footer-nav{
  list-style: none;
  float: left;
}
.social-links{
  list-style: none;
  float: right;
}
.footer-nav li, .social-links li{
  display: inline-block;
  margin-right: 20px;
}
.main{
  margin-top:20px;
}
.main-data p{
  text-align: justify;
}