<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="card border-secondary mb-3" style="width: 30rem;">
                <div class="card-header"><h5 class="text-center">Login</h5></div>
                <div class="card-body">
                    <form action="" class="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>