<%- include('../template/header')-%>
<div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="card border-secondary mb-3" style="width: 30rem;">
                <div class="card-body">
                    <form class="profile">
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Name</label>
                            <input type="text" class="form-control" id="name" value=<%= locals.user.name %>>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value=<%= locals.user.email %>>
                        </div>
                         <div class="form-group">
                             <img src='img/users/<%= locals.user.photo %>' style="width:33px;border-radius:18px;    padding-bottom: 6px;">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" accept="image/*" class="form-control-file" id="photo" name="photo" aria-describedby="fileHelp">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 update-profile">Update</button>
                    </form>
                </div>
            </div>
        </div>
         <div class="d-flex justify-content-center mt-5">
            <div class="card border-secondary mb-3" style="width: 30rem;">
                <div class="card-body">
                    <form class="profile-password">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Current Password</label>
                            <input type="password" class="form-control" id="current_password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 update-profile btn-save-password">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../template/footer')-%>