
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="card border-secondary mb-3" style="width: 30rem;">
                <div class="card-header"><h5 class="text-center">Register</h5></div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>