<%- include('../template/header')-%>
<div class="container-fluid main">
     <div class="row">
       <div class="col-lg-2">
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Dapibus ac facilisis in
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Morbi leo risus
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Dapibus ac facilisis in
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Morbi leo risus
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
            </div>
       </div>
       <div class="col-lg-8">
         <div class="row">
           <% tours.forEach(function(tour) {%>
            <div class="col-lg-6">
                <div class="card mb-4">
                  <img style="height: 200px; width: 100%; display: block;" src='/img/tours/<%=tour.imageCover%>' alt="Card image">
                  <div class="card-body">
                    <a href="/tour/<%=tour.slug%>"><h5 class="card-title"><%=tour.name%></h5></a>
                    <h6 class="card-subtitle text-muted"><%=tour.city%></h6>
                  </div>
                </div>
            </div>
            <%});%>
        </div>
      </div>
   </div>
  </div>
  <%- include('../template/footer')-%>