<footer class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
          <ul class="footer-nav">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="social-links">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div>
    </div>
</footer>
<script src="/js/bundle.js"></script>
</body>
</html>