
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Swayourway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse float-right" id="navbarColor03">
          <ul class="navbar-nav ml-auto ">
            {{#if user}}
                <li class="nav-item">
                  <a class="nav-link" href="#">My Bookings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/me">{{user.name}}</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link logout" href="#">Logout</a>
                </li>
              {{else}}
                <li class="nav-item active">
                  <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Register</a>
                </li>
            {{/if}}
          </ul>
        </div>
      </nav>
   </div>
   {{{body}}}
    <footer class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
              <ul class="footer-nav">
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="social-links">
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
              </ul>
            </div>
        </div>
    </footer>
    <script src="/js/bundle.js"></script>
</body>
</html>